/*.parallax {*/
    /* Tamaño del contenedor */
    /*height: 900px;
    background-image: url('../images/wallpapper.jpeg');
    background-attachment: fixed;*/ /* Fijo para lograr el efecto parallax */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}*/





